

* {
  transition: all 0.2s linear 0.1s;
}

a{
  text-decoration: none;
  color:inherit
}



/* aside */
.aside {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: #011153;
  /* background-image: linear-gradient(160deg, #011153, #E14C2B); */
}

.aside a {

  color: inherit
}

.aside ul {
  margin: 0;
  list-style: none;

}

a.link:hover,
.activeLink {
  background-color: white;
  border-radius: 30px 0 0 30px;
}

.activeLink{
  color: #011153 !important ;
}


a.link {
  color: #E14C2B;
}

.title {
  display: inline-block;
}

.logo img {
  width: 50%;

}

.aside_icon {
  display: none;
}


.aside_min {
  width: 65px;
}

.aside_min .title,
.aside_min li ul,
.aside_min .aside_logo {
  display: none;
}

.aside_min .aside_icon {
  display: block;
  width: 95%;
}

.aside .collapse a:hover {
  color: #9e9999;

  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.);
}


/* header &page */

.admin {
  margin-left: 250px;
  overflow: hidden;


}

.admin_ml {
  margin-left: 65px;
}

.header_logo {
  width: 85px;
}


/* sm */
@media (max-width: 450px) {

  .admin_ml {
    margin-left: 0px;
  }

  .aside_min {
    display: none;
  }

  .header_logo {
    display: none;
  }
  
}

/* category */
.items .accordion-button::after{
display: none;
}


