@font-face {
  font-family: SignikaNegative;
  src: url(../fonts/SignikaNegative/SignikaNegative-VariableFont_wght.ttf);
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}

body {
  font-family: SignikaNegative;
  position: relative;
}